body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0124;
  color: white;
  min-width: 1366px;
  min-height: 768px;
  height: 1366;
  width: 768;
  display: flex;
  flex-direction: column;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h1{
  color: #ffd700;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header img {
  height: 60px;
  margin-right: 10px;
}
nav {
  background-color: #5e0b15;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  border-style: groove;
  border-color: black;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url(/Assets/Images/space.png);
}
canvas {
  display: block;
  margin: 30px auto;
  /* border: 2px solid white;
  background-color: black; */
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  color: #ccc;
  background-color: #1a1a2e;
}